name: "Nix"

on:
  pull_request:
    branches:
    - "master"
    paths:
    - "flake.nix"
    - "flake.lock"
    - "src/**/*"
    - "Cargo.*"

  push:
    branches:
    - "master"
    paths:
    - "flake.nix"
    - "flake.lock"
    - "src/**/*"
    - "Cargo.*"

  merge_group: {}

  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  nix-build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: "Install Nix"
      uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31

    - name: "Build with Nix"
      run: nix build .#af --print-build-logs

    - name: "Verify binary"
      run: ./result/bin/af --version

    - name: "Check flake"
      run: nix flake check
