name: "Release"

on:
  push:
    tags:
    - "v*.*.*"

permissions: {}

env:
  WORKFLOW_TO_WATCH: trigger-bump.yaml

jobs:
  release:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      id-token: write # necessary for generating artifact attestations
      attestations: write # necessary for generating artifact attestations

    steps:
    - name: "Checkout"
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: "Generate GitHub App Token"
      id: github-app-token
      uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}

    - name: "Get last bump version workflow run"
      id: get-last-workflow-run-id
      env:
        GH_TOKEN: ${{ steps.github-app-token.outputs.token }}
      run: |
        echo "id=$(
          gh run list \
            --workflow "${{ env.WORKFLOW_TO_WATCH }}" \
            --limit 1 \
            --json databaseId \
            --jq '.[] | .databaseId'
        )" >> "$GITHUB_OUTPUT"

    - name: "Wait for run to finish"
      env:
        GH_TOKEN: ${{ steps.github-app-token.outputs.token }}
      run: gh run watch ${{ steps.get-last-workflow-run-id.outputs.id }} --exit-status

    - name: "Get artifacts"
      uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
      with:
        github-token: ${{ steps.github-app-token.outputs.token }}
        run-id: ${{ steps.get-last-workflow-run-id.outputs.id }}
        path: dist

    - name: "Generate artifacts attestation"
      uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be # v2.4.0
      with:
        subject-path: dist/**/${{ github.event.repository.name }}-*

    - name: "Add ${{ matrix.name }} artifacts to the release"
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      with:
        token: ${{ steps.github-app-token.outputs.token }}
        files: dist/**/${{ github.event.repository.name }}-*
        make_latest: true
        generate_release_notes: true
