name: "Release"

on:
  push:
    tags:
    - "v*.*.*"

permissions: {}

env:
  WORKFLOW_TO_WATCH: trigger-bump.yml

jobs:
  release:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      id-token: write # necessary for generating artifact attestations
      attestations: write # necessary for generating artifact attestations

    steps:
    - name: "Checkout"
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: "Generate GitHub App Token"
      id: github-app-token
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      with:
        app-id: ${{ vars.SMYKLOT_APP_ID }}
        private-key: ${{ secrets.SMYKLOT_APP_PRIVATE_KEY }}

    - name: "Get last bump version workflow run"
      id: get-last-workflow-run-id
      env:
        GH_TOKEN: ${{ steps.github-app-token.outputs.token }}
      run: |
        echo "id=$(
          gh run list \
            --workflow "${{ env.WORKFLOW_TO_WATCH }}" \
            --limit 1 \
            --json databaseId \
            --jq '.[] | .databaseId'
        )" >> "$GITHUB_OUTPUT"

    - name: "Wait for run to finish"
      env:
        GH_TOKEN: ${{ steps.github-app-token.outputs.token }}
      run: gh run watch ${{ steps.get-last-workflow-run-id.outputs.id }} --exit-status

    - name: "Get artifacts"
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        github-token: ${{ steps.github-app-token.outputs.token }}
        run-id: ${{ steps.get-last-workflow-run-id.outputs.id }}
        path: dist

    - name: "Generate artifacts attestation"
      uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
      with:
        subject-path: dist/**/${{ github.event.repository.name }}-*

    - name: "Add ${{ matrix.name }} artifacts to the release"
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        token: ${{ steps.github-app-token.outputs.token }}
        files: dist/**/${{ github.event.repository.name }}-*
        make_latest: true
        generate_release_notes: true
