name: "Tests"

on:
  pull_request:
    branches:
    - "master"
    paths:
    - "src/**/*"
    - "Cargo.*"

  push:
    branches:
    - "master"
    paths:
    - "src/**/*"
    - "Cargo.*"

  merge_group: {}

  workflow_dispatch: {}

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: "Run tests"
      run: cargo test --verbose
