name: "Tests"

on:
  pull_request:
    branches:
    - "master"
    paths:
    - "src/**/*"
    - "Cargo.*"

  push:
    branches:
    - "master"
    paths:
    - "src/**/*"
    - "Cargo.*"

  merge_group: {}

  workflow_dispatch: {}

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: "Run tests"
      run: cargo test --verbose
