name: "Tests"

on:
  pull_request:
    branches:
    - "master"
    paths:
    - "src/**/*"
    - "Cargo.*"

  push:
    branches:
    - "master"
    paths:
    - "src/**/*"
    - "Cargo.*"

  merge_group: {}

  workflow_dispatch: {}

permissions:
  contents: read

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: "Run tests"
      run: cargo test --verbose
