name: "Trigger Bump"

on:
  schedule:
  - cron: "0 1 * * *"

  workflow_dispatch: {}

permissions:
  contents: read

jobs:

  ##############################################################################
  #                            CHECK IF SHOULD BUMP                            #
  ##############################################################################

  check-if-should-bump:
    runs-on: ubuntu-24.04

    outputs:
      bump: ${{ steps.should-bump.outputs.bump }}

    steps:
    - name: "Checkout"
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        fetch-depth: 0
        persist-credentials: false

    - name: "Generate GitHub App Token"
      id: github-app-token
      uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
      with:
        app-id: ${{ secrets.APP_ID }}
        private-key: ${{ secrets.APP_PRIVATE_KEY }}

    - name: "Define if version should be bumped"
      id: should-bump
      env:
        GH_TOKEN: ${{ steps.github-app-token.outputs.token }}
      run: |
        last_tag="$(gh api repos/:owner/:repo/tags --paginate --jq '.[0].name')"
        if ! git diff --quiet "$last_tag...HEAD" -- src Cargo.toml Cargo.lock xtasks; then
          echo "bump=true" >> "$GITHUB_OUTPUT"
        fi

  ##############################################################################
  #                               BUMP AND BUILD                               #
  ##############################################################################

  bump-and-build:
    needs: check-if-should-bump
    if: needs.check-if-should-bump.outputs.bump == 'true'
    uses: ./.github/workflows/__bump-and-build.yaml
    secrets: inherit
